/* First Screen*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-style: italic;
}

.harley-img {
  position: absolute;
  width: 150px;
  height: 170px;
  top: 50%;
  left: 33%;
  opacity: 1;
}
.harley-img:hover {
  opacity: 0.8;
}

.textBox {
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 215px;
  margin-left: 23%;
}

.background-img {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

h1 {
  text-align: center;
  color: white;
  font-size: 30px;
}

p {
  font-family: Ariel;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.text-block1 {
  position: absolute;
  width: 400px;
  height: 440px;
  top: 10%;
  left: 30%;
  background-color: #40838f;
  color: white;
  position: center;
  background: rgb#40838F(0, 0, 0.5); 
  background: rgba#40838F(0, 0, 0, 0.5); 
  width: 40%;
  padding: 10px;
  opacity: 0.9;
}


.startButton {
  font-style: italic;
  position: absolute;
  top: 125%;
  left: 48%;
  transform: translate(-50%, -50%);
  background-color: #40838f;
  border: darkblue;
  color: white;
  padding: 15px 25px;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.7;
  transition: 0.2s;
}

.startButton:hover {
  opacity: 1;
}


/* Second Screen*/
#game-board {
  display: none;
}

#score {
  color: white;
  font-size: 20px;
  margin: 8px 420px;
}

.screen3 {
  display: none;
}


/* Third Screen */
.restartGame {
  position: absolute;
  font-style: italic;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #40838f;
  border: darkblue;
  color: white;
  padding: 15px 25px;
  font-size: 30px;
  margin: 4px 2px;
  opacity: 0.9;
  transition: 0.3s;
}

.restartGame:hover {
  opacity: 0.5;
}

.gameoverText {
  position: absolute;
  left: 460px;
  top: 200px;
  width: 20%;
  text-transform: uppercase;
  background-color: #40838f;
  color: white;
  background: rgb#40838F(0, 0, 0.5); 
  background: rgba#40838F(0, 0, 0, 0.5); 
  padding: 10px;
  opacity: 0.9;
}